
/Backend/NeitekApi/bin
/Backend/NeitekApi/obj
/Backend/NeitekApp/NeitekApp.Client/bin
/Backend/NeitekApp/NeitekApp.Client/obj
/Backend/NeitekApp/NeitekApp/bin
/Backend/NeitekApp/NeitekApp/obj
/Backend/NeitekDTO/bin
/Backend/NeitekDTO/obj
Backend/.vs/NeitekApp/FileContentIndex/022a8ebb-d0f9-411f-beeb-e4970070de14.vsidx
Backend/.vs/NeitekApp/FileContentIndex/1a47e6e9-2a23-4379-9e86-f7e5f341ac42.vsidx
Backend/.vs/NeitekApp/FileContentIndex/55f6fc3f-238b-4853-ae01-31067b8d1f4a.vsidx
Backend/.vs/NeitekApp/FileContentIndex/c3cb44f2-b996-4f5f-a5e8-1519cd2ba3a3.vsidx
Backend/.vs/NeitekApp/FileContentIndex/cc3957a9-9030-4b2e-8498-45e261c210a2.vsidx
