
/Backend/NeitekApi/bin
/Backend/NeitekApi/obj
/Backend/NeitekApp/NeitekApp.Client/bin
/Backend/NeitekApp/NeitekApp.Client/obj
/Backend/NeitekApp/NeitekApp/bin
/Backend/NeitekApp/NeitekApp/obj
/Backend/NeitekDTO/bin
/Backend/NeitekDTO/obj
